/* TODO 
    - Refactors
    - Settings
    - Improve nav button design
    - Fix nav btn error when resizing
    - When resizing, get first app, then
      scroll to that app's section if not
      there.
    - snap the scroll when being dragged (touch devices)
*/
:root {
    --soft-black: #1B1C1E;
}  

html, body {
    background: #18A558;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,
        Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,
        Helvetica Neue,sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.tablet {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90vh;
    min-height: 400px;
    margin: 1em;
    border: 35px solid var(--soft-black);
    border-bottom: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tab-background {
    background-color: #A3EBB1;
    background-size: 45px 45px;
    background-image: radial-gradient(
        transparent 28px,
        #ffffff 28px,
        #ffffff 32px,
        transparent 32px
    );
}

.settings {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background: #116530;
}

.tablet .appScroll{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    height: 100%;
    /* Scrollbar stuff */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-snap-type: x mandatory;
}

.tablet .appScroll::-webkit-scrollbar{
    display: none;
}

.appScroll .app-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 2rem clamp(1em, 5%, 4rem);
    width: 100%;
    height: 100%;
    padding: 0 5%;
    margin-top: 2.5em;
    box-sizing: border-box;
    overflow-y: hidden;
    scroll-snap-align: center;
}

.app-section .app {
    cursor: pointer;
    width: min-content;
    margin: 0 auto;
}

.app-section .app:hover .icon {
    height: 60px;
    width: 60px;
}

.app .icon {
    background: #21B6A8;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition: width .3s, height .3s;
}

.app .name {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    text-align: center;
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    transition: top .3s;
}

.app:hover .name {
    display: flex;
    justify-content: center;
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
    top: 60px;
}

.tablet div.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 12%;
    /* margin-bottom: 1.5rem; */
}

div.nav button.nav {
    background-color: gray;
    /* background-color: #008040; */
    width: 25px;
    height: 25px;
    opacity: 45%;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s;
}

div.nav button.nav:hover {
    transform: scale(1.2);
}

div.nav button.nav.active{
    opacity: 80%;
}

.tablet .toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 6%;
    background: var(--soft-black);
    padding: 0.4em 0;
}

.toolbar .button {
    border: 2px solid white;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background: var(--soft-black);
}

/*  */