html, body {
    background: rgb(240, 166, 178);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.tablet {
    display: flex;
    flex-direction: column;
    background: #44ff90;
    border: 2px solid black;
    border-radius: 10px;
    height: 93vh;
    min-height: 400px;
    padding-top: 2em;
}

.tablet .app-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: min-content;
    gap: 2rem 4rem;
    margin: 0 5%;
}

.tablet .toolbar {
    margin-top: auto;
    width: 100%;
    height: 6%;
    background: black;
    overflow: hidden;
}

.app-section .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform .3s;
}

.app-section .app:hover {
    transform: scale(1.2);
}

.app .icon {
    background: cornflowerblue;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.app .name {
    text-align: center;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.app:hover .name {
    display: flex;
    justify-content: center;
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
}