/* TODO 
    - Do something with the overlapping
    text on the app directly below it when 
    hovering on that text.
*/
html, body {
    background: rgb(240, 166, 178);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,
        Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,
        Helvetica Neue,sans-serif;
}

.tablet {
    display: flex;
    flex-direction: column;
    background: #44ff90;
    border: 2px solid black;
    border-radius: 10px;
    height: 93vh;
    min-height: 400px;
    padding-top: 2.5em;
}

.tablet .app-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 2rem 4rem;
    margin: 0 5%;
}

.app-section .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.app-section .app:hover .icon {
    height: 60px;
    width: 60px;
}

.app .icon {
    background: cornflowerblue;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition: width .3s, height .3s;
    position: relative;
}

.app .name {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    text-align: center;
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    transition: padding .3s;
}

.app:hover .name {
    display: flex;
    justify-content: center;
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
    padding-top: 10px;
}

.tablet .toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 6%;
    background: black;
}

.toolbar .button {
    border: 2px solid white;
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
}